@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Cormorant:wght@300&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@font-face {
  font-family: Amsterdam;
  src: url(../assets/amsterdam-four-ttf-maisfontes.100e/amsterdam-four-ttf.ttf);
}

section {
  font-family: var(--font-style-three);
}
#header {
  background-color: var(--highlight-color) !important;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  justify-content: center;
  grid-gap: 80px;
  padding: 1rem 1rem;
}
.card {
  width: 185px;
  height: 200px;
  border-radius: 120px 120px 0 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.card p {
  text-align: center;
}
.title-container h1 {
  font-size: 50px;
  margin-bottom: 20px;
  margin: 0 2rem;
}

.description-container {
  margin: 1rem auto 8rem auto;
}
.description-container p {
  margin: auto;
  font-size: 20px;
  max-width: 550px;
  text-align: justify;
}
