.order-summary {
  display: none;
  padding: 0.8rem !important;
  min-width: 310px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  background-color: var(--secondary-color);
  top: 55%;
  left: 50%;
  z-index: 8;
  transform: translate(-50%, -50%);
}

.summary p {
  margin: 0 !important;
}

.order-summary.open {
  display: block;
}

.order-summary-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.4);
}

.order-summary-overlay.open {
  display: block;
}
.fa-times {
  position: absolute;
  top: 2px;
  right: 5px;
  color: var(--icon-color);
}
i {
  font-size: 2rem;
}

.fa-times:hover {
  cursor: pointer;
}

input[type="button"] {
  margin: 5px 0 !important;
}
