@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Cormorant:wght@300&family=Open+Sans&display=swap");
@font-face {
  font-family: Amsterdam;
  src: url(../assets/amsterdam-four-ttf-maisfontes.100e/amsterdam-four-ttf.ttf);
}

/* Define the needed styles */
/* :root {
  --primary-color: #dfccc5;
  --secondary-color: #f4eee1;
  --icon-color: #998076;
  --highlight-color: #c8aea4;
  --font-style-one: "Amsterdam";
  --font-style-two: "Catamaran", sans-serif;
  --font-style-three: "Open Sans", sans-serif;
  --font-style-four: "Cormorant", serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: var(--secondary-color);
} */
.welcome {
  font-family: var(--font-style-four);
  font-size: 2em;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.form-container {
  width: 26.25rem;
  height: 20.25rem;
  background-color: var(--primary-color);
  position: relative;
  box-sizing: border-box;
  border: none;
  border-radius: 2.5rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  padding: 4rem 2rem 0 2rem;
}

form input {
  width: 100%;
  height: 1rem;
  margin-top: 10px;
  font-family: var(--font-style-three);
  background: transparent;
  border: none;
}

input[type="email"],
input[type="password"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

label {
  font-size: 1.3em;
}

.submit-btn-form{
  height: 30px;
  width: 100px;
  border: 1px solid black;
  border-radius: 8px;
  margin-left: 110px;
  margin-right:110px;
  cursor: pointer;
}

img{
  position: absolute;
  top: -15%;
  left: 37%;
  width: 100px;
  height: auto;
}