.outer-paper-products {
  margin: 100px 0;
}

.outer-paper-products ul {
  margin: 20px;
  display: flex;
  align-items: center;
}

.outer-paper-products li {
  position: relative;
  font-size: 18px;
  list-style: none;
  cursor: pointer;
}

.outer-paper-products ul > span {
  margin: 0 15px;
  font-size: 18px;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, max-content)); */
  gap: 40px;

  align-items: center;
}

.card {
  z-index: 0;
  width: fit-content;
  height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #dfccc5;
  cursor: pointer;
}

.card .image-holder {
  position: relative;
  padding: 10px;
  height: 300px;
  width: 300px;
}
.card p {
  font-family: "Playfair Display", serif;
  text-align: center;
  /* font-family: "Source Serif Pro", serif; */
}

.card .detail p:nth-child(1) {
  margin-top: 10px;
  font-size: 20px;
}

.card .detail p:nth-child(2) {
  font-size: 13px;
  color: #b38168;
  font-family: "Josefin Sans", sans-serif;
  margin: 3px;
}
.card .detail p:nth-child(3) {
  font-size: 18px;
  padding-bottom: 20px;
}

.card .fa {
  font-size: 32px;
  color: #896f61;
}

.card .fa-heart:hover::after {
  content: "Remove from wishlist";
  position: absolute;
  color: black;
  background: var(--secondary-color);
  padding: 3px;
  border-radius: 3px;
  top: -20px;
  left: -40px;
  font-size: 12px;
  width: 110px;
}

.card span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
