.outer-paper-products {
  margin: 10rem 0 14rem 0;
}

.outer-paper-products ul {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.outer-paper-products li {
  position: relative;
  font-size: 1rem;
  list-style: none;
  cursor: pointer;
}

.outer-paper-products ul > span {
  margin: 0 1rem;
  font-size: 1rem;
}

.card-container {
  width: 100%;
  gap: 40px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
}

.card {
  z-index: 0;
  width: fit-content;
  height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #dfccc5;
  cursor: pointer;
}

.card .image-holder {
  position: relative;
  padding: 10px;
  height: 250px;
  width: 250px;
}
.card p {
  font-family: "Playfair Display", serif;
  text-align: center;
  /* font-family: "Source Serif Pro", serif; */
}

.card .detail p:nth-child(1) {
  margin-top: 10px;
  font-size: 1.3rem;
}

.card .detail p:nth-child(2) {
  font-size: 0.8rem;
  color: #b38168;
  font-family: "Josefin Sans", sans-serif;
  margin: 3px;
}
.card .detail p:nth-child(3) {
  font-size: 1rem;
  padding-bottom: 20px;
}

.card .fa {
  font-size: 2rem;
  color: #896f61;
}

.card .fa-heart:hover::after {
  content: "Remove from wishlist";
  position: absolute;
  color: #353935;
  background: var(--secondary-color);
  padding: 3px;
  border-radius: 3px;
  top: -20px;
  left: -40px;
  font-size: 0.7rem;
  width: 110px;
}

.card span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
