@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Cormorant:wght@300&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@font-face {
  font-family: Amsterdam;
  src: url(../assets/amsterdam-four-ttf-maisfontes.100e/amsterdam-four-ttf.ttf);
}

/* Define the needed styles */
:root {
  --primary-color: #dfccc5;
  --secondary-color: #f4eee1;
  --icon-color: #998076;
  --highlight-color: #c8aea4;
  --font-style-one: "Amsterdam";
  --font-style-two: "Catamaran", sans-serif;
  --font-style-three: "Open Sans", sans-serif;
  --font-style-four: "Cormorant", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
}

header {
  top: 0;
  position: fixed;
  z-index: 9;
  width: 100%;
}

#header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 0 45px;
}
img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1025px;
  margin: auto;
  position: relative;
}

section:not(:first-child) {
  margin: 100px 0;
  padding: 50px 0;
}

.brand-name {
  position: relative;
}

.brand-name span {
  transition: all 0.2s ease-in;
}

.brand-name span:nth-child(1) {
  font-family: var(--font-style-one);
  font-size: 34px;
}

.brand-name span:nth-child(2) {
  position: absolute;
  font-size: 21px;
  font-family: var(--font-style-two);
  bottom: 0;
  left: 65%;
}

.nav-desk ul {
  font-family: var(--font-style-three);
  display: flex;
  list-style: none;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.nav-desk ul li {
  position: relative;
  padding: 0 1em;
}

.nav-desk .fa {
  color: var(--icon-color);
  font-size: 24px;
}

.nav-desk .fa:hover {
  color: #9980765c;
}

.nav-desk span {
  position: absolute;
  right: -15px;
  height: 26px;
  width: 26px;
  background-color: var(--highlight-color);
  border-radius: 50%;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

main {
  margin: auto;
}

footer {
  width: 100%;
  height: 300px;
  background-color: var(--highlight-color);
}

#bars button {
  width: 45px;
  background: transparent;
  border: none;
  height: 35px;
  padding: 0px;
  overflow: hidden;
}

#bars button:focus {
  outline: none;
}

.mobile-menu span {
  display: inline-block;
  width: 60%;
  height: 2px;
  background: var(--icon-color);
  position: relative;
  transition: all 0.2s;
}

.mobile-menu span:before,
.mobile-menu span:after {
  content: "";
  position: absolute;
  width: 100%;
  background: var(--icon-color);
  height: 2px;
  left: 0px;
  transition: all 0.3s;
}

.mobile-menu span:before {
  top: 10px;
}

.mobile-menu span:after {
  bottom: 10px;
}

button.mobile-menu span.active {
  background-color: var(--secondary-color);
}

#bars button.mobile-menu span.active:after,
button.mobile-menu span.active:before {
  color: var(--icon-color);
  top: 0px;
  left: 0px;
}

#bars button.mobile-menu span.active:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

#bars button.mobile-menu span.active:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

#bars {
  display: none;
}

#mobile {
  display: none;
  position: absolute;
  width: 100vw;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.mobile {
  transform: translateY(-370px);
}

.mobile.down {
  transform: translateY(0px);
}

.mobile-nav ul li {
  border-bottom: 1px solid var(--icon-color);
  text-align: center;
  width: 100%;
  padding: 30px;
  background-color: white;
}

.mobile-nav ul li a {
  font-size: 1rem;
  color: var(--icon-color);
  font-family: var(--font-style-three);
}

.notify {
  border: 1px solid black;
  background-color: var(--secondary-color);
  width: fit-content;
  position: absolute;
  position: fixed;
  padding: 10px 20px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 1;
  animation: fadeInOut 2s ease-out forwards;
}

@keyframes fadeInOut {
  50% {
    opacity: 1;
    top: 25%;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: 10%;
  }
}

@media screen and (max-width: 769px) {
  #mobile {
    display: block;
  }
  #header {
    padding: 0 24px;
  }

  #bars {
    display: block;
  }

  .nav-desk ul li:not(:last-child) {
    display: none;
  }
}
